@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Noto Sans JP",
    "Yu Gothic UI", sans-serif;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}
